name: build and deploy spring-app

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    name: build and deploy spring-app
    runs-on: ubuntu-20.04

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: setup jdk 8
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: 8

      - name: build the app
        run: mvn clean package

      - name: login to docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: push the docker image to docker hub
        uses: docker/build-push-action@v4
        with:
          context: .
          dockerfile: Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/m346-ref-card-01:latest